/*---Import of Google Fonts Lato font---*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*---General styling properties applied across the site---*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Lato", sans-serif;
    background-color: rgb(46, 45, 45);
    color: rgb(255,255,255);
}

.navbar {
    padding: 0;
}

.flashes {
    padding: 15px;
    text-align: center;
}

.active {
    text-decoration: underline;
    font-size: 1.1em;
}

/*---pw_change.html---*/ 
.password-div {
    border: 3px solid rgb(255,255,255);
    border-radius: 10px;
}

#form-text {
    color: rgb(255,255,255)
}

.form-warning-img {
    color: rgb(248, 240, 0);
}

/*---about.html---*/ 
.col-md-4 img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 3px solid rgb(255,255,255);
    /*---https://css-tricks.com/almanac/properties/i/image-rendering/---*/
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.attribute-importance {
    border: 3px solid rgb(46, 45, 45);
    border-radius: 10px;
    padding: 10px;
    color: rgb(46, 45, 45);
    background-color: rgb(255,255,255);
}

.links {
    color: rgb(143, 198, 235);
}

/*---about.html font awesome icons---*/ 
.water-font-awesome {
    color: rgb(0, 166, 243);
}

.stretch-font-awesome {
    color: rgb(243, 186, 0);
}

.smr-font-awesome {
    color: rgb(233, 132, 107);
}

.cold-font-awesome {
    color: rgb(84, 194, 245);
}

.nutrition-font-awesome {
    color: rgb(88, 224, 106);
}

.train-font-awesome {
    color: rgb(255, 244, 93);
}

.sleep-font-awesome {
    color: rgb(230, 137, 253);
}

.feeling-font-awesome {
    color: rgb(161, 255, 93);
}