/*---Import of Google Fonts Lato font---*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*---General styling properties applied across the site---*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Lato", sans-serif;
    background-color: rgb(46, 45, 45);
    color: rgb(255,255,255);
}

.navbar {
    padding: 0;
}

.flashes {
    padding: 15px;
    text-align: center;
}

.active {
    text-decoration: underline;
    font-size: 1.1em;
}

button, .links {
    cursor: pointer;
}

footer {
    clear: both;
    position: relative;
}

.footer-links a span i {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgb(255,255,255);
    margin: 5px;
    cursor: pointer;
    font-size: 40px;
    padding: 20px 0;
}

.footer-links a span i:hover {
    background-color: rgb(46, 45, 45);
}

.twitter {
    color: rgb(6, 179, 209);
    background-color: rgb(255,255,255);
}

.facebook {
    color: rgb(33, 83, 190);
    background-color: rgb(255,255,255);
}

.github {
    color: rgb(228, 6, 6);
    background-color: rgb(255,255,255);
}

.recovered {
    background-color: rgb(15, 145, 15) !important;
}

.moderate {
    background-color: rgb(216, 216, 39) !important;
}

.low {
    background-color: rgb(190, 16, 16) !important;
}


/*---home page---*/ 
.information-div {
    border: 1px solid rgb(255,255,255);
    font-size: 1rem;
    border-radius: 10px;
}

.home-block,
.home-block h4,
.home-block h4 u,
.home-block h5,
.home-block p {
    background-color: rgb(220, 220, 220);
    color: rgb(46, 45, 45)
}

#home-page-circle {
    width:33%;
    height: 250px;
    width: 250px;
    background-color: rgb(45, 46, 45);
    border-radius: 50%;
    border: 2px solid rgb(255,255,255);
    margin: 115px auto;
    text-align: center;
    padding: 110px 10px;
    box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.877);
    position: relative;
}

.home-page-attributes {
    list-style-type:none;
}

.left-div {
    padding-top: 30px;
    float: left; 
    width: 33%;
    text-align: left;
}

.right-div {
    padding-top: 30px;
    float: right; 
    width: 33%;
    text-align: right;
}

.left-div li, .right-div li {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid rgb(46, 45, 45);
    margin: 2px auto;
    text-align: center;
    padding: 35px 5px;
    color: rgb(46, 45, 45);
    font-weight: bold;
    font-size: .8rem;
    position: relative;
}

/*---home page div positioning---*/ 
#home-page-list-cold-therapy {
    top: 0;
    left: 200px;
    background-color: rgb(84, 194, 245);
}

#home-page-list-stretch {
    top: 0;
    right: 240px;
    background-color: rgb(243, 186, 0);
}

#home-page-list-nutrition {
    top: 2px;
    left: 160px;
    background-color: rgb(88, 224, 106);
}

#home-page-list-smr {
    top: 2px;
    right: 200px;
    background-color: rgb(233, 132, 107);
}

#home-page-list-training {
    top: 12px;
    left: 160px;
    background-color: rgb(255, 244, 93);
}

#home-page-list-feeling {
    top: 12px;
    right: 200px;
    background-color: rgb(161, 255, 93);
}

#home-page-list-sleep {
    top: 22px;
    left: 200px;
    background-color: rgb(230, 137, 253);
}

#home-page-list-hydration {
    top: 22px;
    right: 240px;
    background-color: rgb(0, 166, 243);
}


/*---pw_change.html---*/ 
.password-div, .login-div, .create-account-div {
    border: 3px solid rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.877);
}

#form-text {
    color: rgb(255,255,255)
}

.form-warning-img {
    color: rgb(248, 240, 0);
}

/*---about.html---*/ 
.col-md-4 img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 2px solid rgb(255,255,255);
    box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.877);
    /*---https://css-tricks.com/almanac/properties/i/image-rendering/---*/
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.attribute-importance {
    border: 3px solid rgb(46, 45, 45);
    border-radius: 10px;
    padding: 10px;
    color: rgb(46, 45, 45);
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.877);
}

.links {
    color: rgb(143, 198, 235);
}

/*---about.html font awesome icons---*/ 
.water-font-awesome {
    color: rgb(0, 166, 243);
}

.stretch-font-awesome {
    color: rgb(243, 186, 0);
}

.smr-font-awesome {
    color: rgb(233, 132, 107);
}

.cold-font-awesome {
    color: rgb(84, 194, 245);
}

.nutrition-font-awesome {
    color: rgb(88, 224, 106);
}

.train-font-awesome {
    color: rgb(255, 244, 93);
}

.sleep-font-awesome {
    color: rgb(230, 137, 253);
}

.feeling-font-awesome {
    color: rgb(161, 255, 93);
}


/*---all_entries.html---*/ 
.search-bar, .date-search, .options-dropdown, .comment-box {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.score-percentage {
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50% !important;
    background-color: white;
}


.table>:not(caption)>*>* {
    background-color: rgb(46, 45, 45);
}

/*---profile.html---*/ 
.result-container {
    width: 37rem;
    height: 37rem;
    border-radius: 50%;
    border: 2px solid rgb(255,255,255);
    box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.877);
    margin: 0 auto;
}

.inner-container {
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    border: 2px solid rgb(255,255,255);
    margin: 2rem auto;
}

.result-div {
    width: 100%;
    height: 10%;
    margin-top: 50px;
    background-color: transparent;
    font-size: 1.3rem;
}

.result-div p {
    background-color: transparent;
    margin-top: 60px;
    font-size: 12rem;
}

.result-text {
    background-color: transparent;
    font-size: 2rem;
    margin-top: 200px;
}

.entry-buttons {
    background-color: transparent;
    margin-top: -50px;
}

/*---new_entry.html---*/ 
.entry-option-headings {
    font-size: 2rem;;
}

.options-dropdown {
    box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.877);
}

#comment_text {
    width: 300px;
}

