{% extends "base.html" %}
{% block content %}

<h2>Let's edit an old entry!</h2>
<h3>Choose today's date to log recovery:</h3>
<br>

<form method="POST" action="{{ url_for('edit_entry', username=username) }}">
    <label for="start">Select Date:</label>
    
    <input type="date" id="date_choice" name="date_choice" value="date_choice" min="{{ today }}" max="{{ today }}" required>
    {% for option in options %}
        <div>
            <br>
            <p>{{ option.attribute_name }}</p>
            <label for="option.narrative">{{ option.narrative }}</label>
            <br>
            <select name="options.choice" id="options.choice">
                <option value="{{ option.option_one }}">{{ option.option_one }}</option>
                <option value="{{ option.option_two }}">{{ option.option_two }}</option>
                <option value="{{ option.option_three }}">{{ option.option_three }}</option>
            </select>
        </div>
    {% endfor %}
    <br>
    <label for="comment_text">Enter any Comments:</label>
    <input id="comment_text" name="comment_text" type="text" class="validate" minlength="1" maxlength="50" required>
    <br>
    <button type="submit" class="btn btn-primary">Edit Task</button>
    <a href="{{ url_for('profile', username=username) }}" class="btn btn-primary">Cancel</a>
</form>

{% endblock %}