{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Log In!</h3>

    <form method="POST" action="{{ url_for('login') }}">
        <div class="mb-3">
            <i class="fas fa-user-plus"></i>
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" id="username" name="username" class="form-control" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">Enter your username.</div>
            </div>
        </div>
        <div class="mb-3">
            <i class="fas fa-user-lock"></i>
            <label for="password" class="form-label">Enter your Password</label>
            <input type="password" id="password" name="password" class="form-control" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" aria-describedby="passwordHelpBlock" required>
        </div>
        <button type="submit" class="btn btn-dark">Log In</button>
    </form>

    <div>
        <p>New Here?
            <a href="{{ url_for('create_account') }}" class="light-blue-text text-darken-4">Create an Account</a>
        </p>
    </div>

{% endblock %}