{% extends "base.html" %}
{% block content %}

<h2>Let's see how recovered you are!</h2>
<h3>Choose today's date to log recovery:</h3>
<div>
    <i class="fas fa-calendar-alt"></i>
    <input id="due_date" name="due_date" type="text" class="datepicker validate" required>
    <label for="due_date">Due Date</label>
</div>
<br>

<form method="POST" action="{{ url_for('new_entry') }}">
    {% for option in options %}
        <div>
            <br>
            <p>{{ option.attribute_name }}</p>
            <label for="option.narrative">{{ option.narrative }}</label>
            <br>
            <select name="options.choice" id="options.choice">
                <option value="{{ option.option_one }}">{{ option.option_one }}</option>
                <option value="{{ option.option_two }}">{{ option.option_two }}</option>
                <option value="{{ option.option_three }}">{{ option.option_three }}</option>
            </select>
        </div>
    {% endfor %}
    <br>
    <label for="comment_text">Enter any Comments:</label>
    <input id="comment_text" name="comment_text" type="text" class="validate" minlength="1" maxlength="50" required>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}