{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h3>
            {{ username }}'s Profile
            <br>
            {% if result == "No entry yet, please submit one" %}
            No entry yet since you created the account, please submit one here.
            {% else %}
            Latest result: Your score is {{ result }}%
            <br>
                {% if result >= 70 %}
                You are well recovered!
                {% elif result >= 50 %}
                You are moderately recovered!
                {% else %}
                You are poorly recovered
                {% endif %}
            {% endif %}
        </h3>
    </div>

{% endblock %}