{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h1 class="text-center mb-3">Welcome to the Recovery Pod!</h1>
            <h2 class="text-center">Measure your recovery to perform optimally</h2>
            <hr class="featurette-divider">
            <br>
            <div id="home-page-circle">
                <div class = "left-div">
                    <ul class="home-page-attributes">
                        <li id="home-page-list-cold-therapy">Cold Therapy</li>
                        <li id="home-page-list-nutrition">Nutrition</li>
                    </ul>
                </div>
                <div class = "top-div">
                    <ul class="home-page-attributes">
                        <li id="home-page-list-training">Training</li>
                        <li id="home-page-list-sleep">Sleep</li>
                    </ul>
                </div>
                <div class = "bottom-div">
                    <ul class="home-page-attributes">
                        <li id="home-page-list-feeling">Feeling</li>
                        <li id="home-page-list-hydration">Hydration</li>
                    </ul>
                </div>
                <div class = "right-div">
                    <ul class="home-page-attributes">
                        <li id="home-page-list-stretch">Stretch</li>
                        <li id="home-page-list-smr">Self Myofascial Release (SMR)</li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>


{% endblock %}