{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h1 class="text-center mb-3">Welcome to the Recovery Pod!</h1>
            <h2 class="text-center">Measure your recovery to perform optimally</h2>
            <hr class="featurette-divider">
            <br>
            <div class="information-div mb-3">
                {% if user_check != "Yes" %}
                <h3 class="text-center mt-4">Create an account to get Started!
                    <span>
                        <a href="{{ url_for('create_account') }}" type="button" class="btn btn-danger">Create Account</a>
                    </span>
                </h3>
                <br>
                <h3 class="text-center">Already have an account? Login!
                    <span>
                        <a href="{{ url_for('login') }}" type="button" class="btn btn-success">Log in</a>
                    </span>
                </h3>
                <br>
                {% else %}
                {% endif %}
                <h4 class="text-uppercase text-center mt-4"><u>Recovery Pod Membership</u></h4>
                <div class="text-center">
                    <h5>Personal Insights</h5>
                    <p>See how your habits change over the course of time</p>
                    <br>
                    <h5>View Other Entries</h5>
                    <p>See how you're doing against other athletes</p>
                    <br>
                    <h5>Personalized metric scoring</h5>
                    <p>Specific calculations of receovery for you</p>
                    <br>
                </div>
            </div>

            <div class="left-div">
                <ul class="home-page-attributes">
                    <li id="home-page-list-cold-therapy">Cold Therapy</li>
                    <li id="home-page-list-nutrition">Nutrition</li>
                    <li id="home-page-list-training">Training</li>
                    <li id="home-page-list-sleep">Sleep</li>
                </ul>
            </div>
            <div class="right-div">
                <ul class="home-page-attributes">
                    <li id="home-page-list-stretch">Stretch</li>
                    <li id="home-page-list-smr">SMR</li>
                    <li id="home-page-list-feeling">Feeling</li>
                    <li id="home-page-list-hydration">Hydration</li>
                </ul>
            </div>
            <div id="home-page-circle">
                <h4>Attributes measured</h4>
            </div>
            <br>
            <hr class="featurette-divider">
        </div>
    </div>


{% endblock %}